.swiper-button-next {
  right: 45px;
  color: #FFBA0B;
}

.swiper-button-prev {
  left: 45px;
  color: #FFBA0B;
}

.swiper-pagination-bullet {
  background: #FFBA0B;
  height: 16px;
  width: 16px;
}


@media(max-width:30em){
  .swiper-button-next {
    right: 30px;
  }
  .swiper-button-prev {
    left: 30px;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after{
    font-size: 1.4rem;
  }

  .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
  }
}